<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OgrenciSistemiSelcanErcan.Properties.Settings.DbNotKayıtConnectionString"
            connectionString="Data Source=DESKTOP-ERGBAB8;Initial Catalog=DbNotKayıt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>